* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  letter-spacing: 0.8px;
}

body {
  background-color: #111111;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  font-size: 62.5%;
}

/* customizing navbar  */
nav {
  font-size: 1.7rem;
  padding: 20px 0px 0px 0px;
  color: #fff;
  background-color: hsl(9, 86%, 44%);
  align-items: center;
  position: relative;
  z-index: 3;
  height: 7rem;
}

.website_title {
  left: 10%;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  left: 4%;
}
.website_title a{
  font-size: 2rem;
  margin-left: 12px;
}
.website_title span {
  color: hsl(194, 56%, 56%);
  margin-left: 2px;
}

.firstNavbar {
  display: flex;
}

.secondNavbar {
  font-size: 1.9rem;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: flex-end;
  background-color: hsl(9, 86%, 44%);
  margin-top: -1%;
  overflow: auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
  list-style: none;
  margin: 0px 5px 0px 9px;
  text-transform: capitalize;
  position: relative;
}

.widgets {
  cursor: pointer;
  height: 3rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.widgets:hover {
  height: 3rem;
  background-color: rgba(255, 255, 255, .2);
}

.widgets_button {
  font-size: 1.8rem;
  border: 2px solid;
  padding: 6px;
  border-radius: 10px;
  color: hsl(194, 56%, 56%);
  font-weight: 600;
}

.navbarToggle {
  position: absolute;
  right: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search_bar {
  margin: auto;
  width: 50rem;
  display: block;
  z-index: 2;
}
.input_group_box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_box {
  position: relative;
  color: #fff;
}
.userInput {
  width: 50rem;
  height: 4.5rem;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.search_bar_icon {
  width: 5rem;
  height: 4rem;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search_bar_inside_icon {
  font-size: 20px;
}
.searchAnimeResult {
  overflow: auto;
  position: absolute;
  z-index: 4;
  background-color: black;
  width: 50rem;
}

.searchAnimeResult::-webkit-scrollbar {
  display: none;
}

.searchAnimeResult main {
  margin-top: 12px;
}

.searchInput_anime_card {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  padding: 10px;
}

.searchInput_anime_name {
  margin-left: 20px;
}

.closeIconHams {
  display: none;
  cursor: pointer;
}

/* desinging carousel */
.anime_carousel {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  height: 35rem;
}

.swiper {
  width: 100%;
  height: 35rem;
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px !important;
  height: 200px !important;
}
.carousel_image img{
  height: 20rem !important;
  width: 32rem !important;
}
.carousel_anime_details {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

.carousel_play_button {
  width: 7.5rem;
  height: 3rem;
  font-size: 1.3rem;
  background-color: #e74c3c;
  border: 0px;
  border-radius: 8px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-top: 10px;
}

/* css code for animeContainer */
.megaContainer {
  display: flex;
  width: 100%;
}

section {
  width: 75%;
}

.TextAndBox {
  display: flex;
  align-items: center;
  margin-left: 6%;
  margin-top: 19px;
}

.box {
  width: 5px;
  height: 5rem;
  background-color: #e74c3c;
}

.writtenAnimeText {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-left: 12px;
  text-transform: capitalize;
}

.animeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 150px)) !important;
  justify-content: center;
}

.anime_card {
  width: 14rem;
  margin-top: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-color: rgb(32 32 32);
  border-radius: 5px;
}
.anime_card_details:hover .button_anime_menu{
  display: block;
}
.anime_image{
  margin-top: 5px;
}
.anime_card img {
  height: 15rem !important;
  width: 12rem !important;
  margin-top: 10px;
  border-radius: 3px;
}
.anime_desc{
  width: 13rem;
  padding-bottom: 5%;
}
.anime_card p {
  font-size: 1.4rem;
}

.anime_title {
  height: 3.5rem;
  overflow: hidden;
}
.button_anime_menu{
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: block;
}
.button_anime_menu:hover{
  background-color: #e74c3c;
  border-radius: 2px;
}
.anime_menu_icon{
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 15px;
}
.anime_menu{
  position: absolute;
  width: max-content;
  z-index: 4;
  background-color: #2c3e50;
  display: none;
}
.anime_menu_items_widgets{
  flex-direction: column;
}
.anime_menu_widgets{
  color: #fff;
  margin: 5px;
  font-size: 1.5rem;
  border-bottom: 1px solid #fff;
  padding: 5px;
}
.button_for_more_anime_content {
  display: flex;
  justify-content: center;
}

.more_anime_content {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #fff;
  margin: 15px 0px 15px 0px;
}

/* css code popularAside Anime */
aside {
  width: 25%;
}

.asideBox {
  margin-left: 0px;
}

.top_anime_selector {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0px 23px 0px;
}

.popularAnimeDateSelector {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}

.popularAnimeList {
  color: #fff;
}

.popular_anime_card {
  display: flex;
  margin-top: 10px;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.popular_anime_desc {
  margin-left: 10px;
}

.popular_anime_card p {
  margin: 10px 0px 10px 0px;
}

.popular_anime_views {
  color: #95a5a6;
}

/* desinging userSearchAnimeWebpage */
.containerForUserAnime {
  position: absolute;
  top: 0px;
}

.animePoster {
  filter: blur(50px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98vw;
  height: 28rem;
  position: relative;
  z-index: -1;
}

.userAnimeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.userAnimeDetails {
  display: flex;
  flex-direction: column;
}

.userAnimeName {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  width: 200px;
  margin: 5px;
}

.animeSynopsis {
  color: #fff;
  width: 85%;
  margin: auto;
  font-size: 1.5rem;
  line-height: 24px;
}

.playButtonContainer {
  display: flex;
  justify-content: center;
}

.playButton {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 9rem;
  justify-content: space-evenly;
  height: 4rem;
  color: #fff;
  background-color: #e74c3c;
  border: 1px solid #fff;
}

/* css code for iframe */
.iframeContainer {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 260px;
  padding-bottom: 56.25%;
  width: 100%;
  background-color: #000;
}

#iframe {
  height: 60rem !important;
  position: absolute;
}

/* .player_func{
  color: #fff;
  font-size: 1.7rem;
  display: none;
  justify-content: space-around;
}
.change_streaming_service{
  display: flex;
}
select{
  position: relative;
  left: 4%;
  margin-bottom: 10%;
} */
.episode_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(71px, 70px)) !important;
  list-style: none;
}

.episode_list li {
  margin-top: 10px;
}

.episode_number {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: #ecf0f1;
}

.episode_number p {
  background-color: #2ecc71;
  width: 45px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.recommended {
  color: #fff;
  font-size: 2rem;
}

.recommended_anime_card {
  display: flex;
  margin-top: 10px;
}

.recommended_anime_image img {
  height: 11rem !important;
  width: 9rem !important;
}

.recommended_anime_desc {
  color: #fff;
  font-size: 1.4rem;
  margin: 10px;
  width: 50%;
}

.watchAnimeText {
  border-bottom: 5px solid #e74c3c;
  margin-bottom: 20px;
}

.recommededAnimeBox {
  margin-left: 0%;
}

/* style for signUp pages */
.homeButton {
  width: 100%;
  height: 80%;
  font-size: 2.5rem;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: grey;
  color: rgb(44 173 225);
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeButtonIcon {
  margin-right: 5px;
  display: flex;
  align-items: baseline;
}

.loginCard {
  color: #fff;
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.websiteAccountName p {
  font-size: 3.8rem;
  letter-spacing: 2px;
}

.create {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.loginOption {
  margin-top: 8px;
  font-size: 1.3rem;
}

.credButton {
  width: 40rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(44 173 225);
  color: #fff;
  border: 2px solid #fff;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oauthIcon {
  margin-right: 8px;
  font-size: 20px;
  margin-top: 2px;
}

hr {
  height: 2px;
  background-color: gray !important;
  border: none;
}

.nameCred {
  display: flex;
  justify-content: space-between;
}

.userName {
  background-color: #535c68;
  height: 34px;
  padding: 6px;
  width: 48%;
  text-transform: capitalize;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.extendInputArea {
  background-color: #535c68;
  color: #fff;
  width: 100%;
  height: 34px;
  font-size: 1.4rem;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  padding: 6px;
  outline: none;
}
.userAccount{
  font-size: 26px;
  width: 42px;
  height: 43px;
  background-color: #fff;
  border-radius: 11px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;

}
::-webkit-scrollbar {
  width: 5px !important;
}
::-webkit-scrollbar-track {
  background: #34495e;
}
::-webkit-scrollbar-thumb {
  background: black;
}
/* userAccount */
.userDatacontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userDatacontainer div{
  background-color: transparent;
  margin-top: 12px;
  letter-spacing: 1.5px;
}
.userDataInfoContainer{
  font-size: 14px;
  color: #fff !important;
}
.userDataName{
  text-transform: capitalize;
}
/* media queries for anime valley website */
/* for navigation */
@media only screen and (max-width:1000px) {
  .website_title {
    left: 2%;
  }

  .navbarToggle {
    right: 2%;
  }

  .recommended_anime_desc {
    font-size: 1.2rem;
  }

  .recommended_anime_image img {
    height: 9rem !important;
    width: 7rem !important;
  }

  .recommededAnimeText {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width:850px) {
  .megaWatchContainer {
    flex-direction: column;
  }

  .animeWatchContainer {
    width: 100%;
    margin: auto;
  }

  .episode_list {
    margin-top: 8%;
    justify-content: center;
  }

  .recommededAnimeBox {
    margin-left: 2%;
  }

  .recommededAnimeMegaContainer {
    width: 100%;
  }

  .recommendedContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(116px, 108px)) !important;
    grid-gap: 10px;
    justify-content: center;
  }

  .recommended_anime_card {
    flex-direction: column;
    align-items: center;
    width: 15rem;
  }

  .recommended_anime_desc {
    width: 82%;
  }
}

@media only screen and (max-width: 828px) {

  /* navigation and toggle design */

  .popularWidgets {
    display: block !important;
  }

  /* carousel desinging */
  html {
    font-size: 52%;
  }


  .carousel_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel_image img {
    width: 314px !important;
    height: 204px !important;
  }

  .swiper-slide {
    width: 434px !important;
    -webkit-box-reflect: unset;
  }

  /* desinging .animeContainer */
  section {
    width: 100%;
  }

  .animeContainer {
    grid-template-columns: repeat(auto-fill, minmax(116px, 126px)) !important;
  }

  aside {
    display: none;
  }

  .recommededAnimeMegaContainer {
    display: grid;
  }

  .anime_card {
    width: 12rem;
  }

  .anime_card img {
    height: 14rem !important;
    width: 10rem !important;
  }
}

@media only screen and (max-width: 578px) {
  nav {
    font-size: 2rem;
  }
  .animeContainer {
    grid-template-columns: repeat(auto-fill, minmax(100px, 97px)) !important;
  }
  .userInput {
    top: 4%;
  }
}

@media only screen and (max-width: 446px) {
  .firstNavbar{
    justify-content: space-between;
  }
  .secondNavbar::-webkit-scrollbar {
    width: 1rem !important;
    height: 2px;
  }
  .secondNavbar::-webkit-scrollbar-track {
    background: #e74c3c !important;
  }
  .secondNavbar::-webkit-scrollbar-thumb {
    background: #bcc5cb;
  }
  li{
    margin: 0px;
  }
  .search_bar{
    width: 40rem;
    margin: auto;
    overflow: scroll;
  }
  .userInput{
    width: 40rem;
  }
  .searchAnimeResult{
    width: 40rem;
    overflow: hidden;
  }
}